.all_gallery_list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 1em;
	min-height: 250px;
    position: relative;
}

.all_gallery_list:empty:before {
	content: "\f161";
    display: block;
    font-family: 'dashicons';
    font-size: 6em;
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all_gallery_list li .image-wrap {
    margin: 5px;
    border: #d5d9dd solid 1px;
    position: relative;
    overflow: hidden;
    background: #eee;
}

.all_gallery_list li .image-wrap:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.all_gallery_list li .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(50%, 50%);
}

.all_gallery_list li .thumbnail img {
    display: block;
    height: auto;
    max-height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
}

.all_gallery_list li {
	margin-right: 5px;
	position: relative;
}

.all_gallery_list li span {
	width: 150px;
	height: 150px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	background-size: cover;
}

.all_gallery_list .actions {
	position: absolute;
    top: 0;
    right: 0;
}

.all_gallery_list .actions a {
	display: inline-block;
    height: 28px;
    width: 28px;
    border: transparent solid 1px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
	border-color: transparent !important;
    background: #23282D;
    color: #eee;
}

#all-product-category ul,
#all-product-season ul {
    border: 1px solid #c3c4c7;
    padding: 10px;
}

.all-map-wrapper {
	border: 1px solid #c3c4c7;
}

#all-location #address {
    width: 100%;
    border-radius: 0;
	background: transparent;
    height: 48px;
    border: 0;
}

#all-map {
	width: 100%;
	height: 400px;
}

#all-product-sync .messages p,
#all-product-card .messages p {
    margin-top: 1em;
    font-size: .9em;
    background: #f5f5f5;
    padding: .5em;
    text-align: center;
}